<div class="accordion mb-3" id="book">
  <div class="accordion-item">
    <div class="accordion-header" id="headingOne">
      <button class="accordion-button pl-2 pr-2 pt-1 pb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h5 class="my-1">开盘助手</h5>
      </button>
    </div>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#book">
      <div class="accordion-body pl-2 pr-2 pt-1 pb-1">
        <form action="/book" method="post" class="pl-2 pr-2 pt-1 pb-1">
          <table class="table mr-2 fs-6">
            <thead>
              <!-- <tr>
                <th></th>
                <th scope="col">玩家1</th>
                <th scope="col">玩家2</th>
              </tr> -->
            </thead>
            <!-- <colgroup>
              <col style="100px" />
              <col style="calc(50% - 50px)" />
              <col style="calc(50% - 50px)" />
            </colgroup> -->
            <tr class="d-flex" valign="middle">
              <th class="col-2 align-middle" scope="row">队伍</th>
              <td class="col-5">
                <input required type="text" class="form-control" placeholder="team1" name="player1" id="player1" />
              </td>
              <td class="col-5">
                <input required type="text" class="form-control" placeholder="team2" name="player2" id="player2" />
              </td>
            </tr>
            <tr class="d-flex align-middle" valign="middle">
              <th class="col-2" scope="row">赔率</th>
              <td class="col-5">
                <input required type="number" min="0.01" max="9.99" step="0.01" placeholder="0.1" class="form-control" name="odd1" id="odd1" />
              </td>
              <td class="col-5">
                <input required type="number" min="0.01" max="9.99" step="0.01" placeholder="0.1" class="form-control" name="odd2" id="odd2" />
              </td>
            </tr>
            <tr class="d-flex align-middle" valign="middle">
              <th class="col-2" scope="row">金额</th>
              <td class="col-5">
                <input required type="number" min="300" max="{{ data['gae'] }}" step ="50" placeholder="300" class="form-control" name="gae" id="gae" />
              </td>
              <td class="col-5" style="text-align:right">
                <button class="btn btn-primary" type="submit">开盘</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>