<div class="card mb-3" style="width: 100%" id="home">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h5 class="my-1">欢迎{{ user.name }}</h5>
      <div class="d-flex justify-content-end">
        <form action="/checkin" method="post">
          {% if data.date== today %}
          <button class="btn btn-secondary float-right btn-sm" disabled type="submit">已签到</button>
          {% else %}
          <button class="btn btn-primary float-right btn-sm" type="submit" onclick="resetForm(this.form);">签到</button>
            <input type="hidden" name="action" value="checkin" /> 
          {% endif %}
        </form>
        <form action="/signout" method="get" style="margin-left: 5px;">
          <button class="btn btn-danger float-right btn-sm" type="submit">登出</button>
        </form>
      </div>
    </div>
  </div>
  {% if msg %}
    <div class="alert alert-primary alert-dismissible fade show ma-2" role="alert">
      {{ msg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  <div class="card-body pt-1 pb-1">
    <table style="height: 75px">
      
        <tr>
          <td rowspan="2" >
            <img src="{{ user.avatar_url if user.avatar_url else url_for('static', filename='default.png') }}" style="width: 75px; display: block; margin-right: 20px;" />
          </td>
          <td valign="middle">
              <strong>账户: </strong> {{ uid }}
          </td>
        </tr>
        <tr  valign="middle">
          <td>
            <strong>余额: </strong> {{ data["gae"] }} gae.
          </td>
        </tr>
    </table>
  </div>
</div>